.history {
    padding: 27px 10px;

    &__item {

        &:first-child {
            margin-bottom: 20px;
        }

        h4 {
            padding-bottom: 10px;
        }

        &--desc {
            color: #484848;
            font-size: 20px;
        }
    }
}

@media (min-width: 992px) {
    .history {
        padding: 110px 10px;

        &__item {
            display: flex;
            gap: 50px;

            h4 {
                padding-bottom: 30px;
            }

            &:first-child {
                margin-bottom: 60px;
            }

            &--img-reverse {
                order: -1;
            }
        }
    }
}